@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.spacing {
    background-color: white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.container {
    background-color: rgb(199, 207, 216);
    position:relative;
    width: 550px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

th {
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}



.table {
    table-layout: fixed;
    width: 100% ;
    display: flex;
    flex-direction: column;
    border: 1px black solid ;
}

td {
    width: 25%;

}

.status{
    text-align:center;
}

tr:nth-child(odd) {
    background-color: white;
}

th{
    background-color: #32a860;
    padding-right: 80.5px;
}