@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Low {
    background-color: rgb(114, 179, 141);
    border-radius: 25px;
    text-align: center;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.Medium {
    background-color: rgb(226, 226, 105);
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}


.word {
    font-size: smaller;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}

.High {
    background-color: rgb(206, 78, 78);
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

thead tr,
tfoot tr
{
	background:#243b55;
    color:#03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    border: none;
    outline: none;
    padding-left: 30px;
    width: 100%;
}

tbody tr:nth-child(even)
{
    background:#243b55;
    color:white;
    border: none;
    outline: none;
    width: 100%;
}

th, td
{
	border: none;
	padding: 0.5em;
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}
.scrollable thead {
    width: 100%;
}

.scrollable tfoot,
.scrollable tbody,
.scrollable th,
.scrollable td
{
	display: block;
	width: 100%;
}

.scrollable thead,
.scrollable tfoot,
.scrollable tbody
{
	overflow-y: scroll;
}

.scrollable thead,
.scrollable tfoot
{
	-ms-overflow-style: none;
    width: 100%;
}

.scrollable thead::-webkit-scrollbar,
.scrollable tfoot::-webkit-scrollbar
{
	visibility: hidden;
}

.scrollable tbody
{
	max-height: 20em;
	position: relative;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.scrollable tr
{
	display: flex;
}

.scrollable tbody th,
.scrollable tbody td
{
	border-top: none;
}

.scrollable th:not(:last-child),
.scrollable td:not(:last-child)
{
	border-right: none;
}