@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quick Sand', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: x-small;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;
  margin-top: 10px;
}
